<section class="section-categoria">
    <h2 class="title">CATEGORIAS</h2>
    <article>
        <div class="card-categoria primary">
            <picture>
                <img src="../../../assets/icons/pizza.png" alt="">
            </picture>
            <h3 class="title-card">PIZZA</h3>
        </div>
        <div class="card-categoria second">
            <picture>
                <img src="../../../assets/icons/hamburguesa.png" alt="">
            </picture>
            <h3 class="title-card">HAMBURGUESA</h3>
        </div>
        <div class="card-categoria primary">
            <picture>
                <img src="../../../assets/icons/pasta.png" alt="">
            </picture>
            <h3 class="title-card">PASTAS</h3>
        </div>
        <div class="card-categoria second">
            <picture>
                <img src="../../../assets/icons/helado.png" alt="">
            </picture>
            <h3 class="title-card">HELADO</h3>
        </div>
        <div class="card-categoria primary">
            <picture>
                <img src="../../../assets/icons/barbacoa.png" alt="">
            </picture>
            <h3 class="title-card">ELABORADOS</h3>
        </div>
        <div class="card-categoria second">
            <picture>
                <img src="../../../assets/icons/verduras.png" alt="">
            </picture>
            <h3 class="title-card">VEGGIE</h3>
        </div>
    </article>
</section>
