.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.search-wrapper {
    position: relative;
    width: 80%;
    max-width: 400px;
}

.input-search {
    padding-left: 30px;
    border-radius: 20px;
    border: 1px solid rgb(247, 228, 205);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../../../assets/icons/search.png);
    background-size: cover;
    cursor: pointer;
}