<section class="section-form">
        <div class="container-header"> 
            <h1 class="title-header">Inicia Sesión</h1>
            <p class="info-header">Ingrese su email y contraseña!</p>   
        </div>  
        <form class="container-form" action="?" method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="example@example.com" required>
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="message-warning">
                    Email requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" formControlName="password" class="form-control" id="password" required>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="message-warning">
                    Contraseña requerida
                </div>
            </div>
            <div class="container-btn">
                <p class="small"><a class="" href="#!">Olvidaste tu contraseña?</a></p>    
                <button class="btn-submit" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button> 
            </div>                 
        </form>           
        <div class="registrarse-link">
            <p class="mb-0">No tienes cuenta?<a href="#!" class="fw-bold">Regístrate</a></p>
        </div>             
</section>