<nav id="nav" class="main-nav">
    <div class="nav-links" >
      <h2 class="title-links">Bienvenido!</h2>
      <a class="link-item" routerLink="/perfil"><i class="bi bi-house"></i>Inicio</a>
      <a class="link-item"><i class="bi bi-headset"></i>Ayuda en línea</a>
      <a class="link-item"><i class="bi bi-person-fill-add"></i>Registrarse</a>
      <a class="link-item"><i class="bi bi-person"></i>Iniciar sesión</a>
    </div>
    <div class="icon-navbar"> 
      <div>
        <a class="link-item" routerLink="/perfil"><i class="bi bi-house"></i>Inicio</a> 
      </div>
      <div class="user-link">
        <button class="btn-icon">Registrarse</button>
        <button class="btn-icon">Iniciar sesión</button>
      </div>
    </div>
      <!-- <button><i class="bi bi-person-circle"></i></button> -->
</nav>
<button id="button-menu" class="button-menu" >
      <span></span>
      <span></span>
      <span></span>
</button>
