<div class="card-container">
    <div class="container-food">
      <div class="card-food">
        <div class="card-content">
          <h1 class="card-title">Title food</h1>
          <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut iure suscipit aperiam voluptate!</p>
          <div class="card-price">
            <span class="price-food">Precio</span>
            <button class="btn-add">AGREGAR</button>
          </div>
        </div>
        <picture>
          <img class="card-img" src="" alt="imagen comida">
        </picture>
      </div>
    </div>
</div>

